
/* =========== 行程細節 cell =========== */
/* 行程細節 */
div.schDetailCell {
    max-width: 420px;
    box-shadow: 0 0 10px lightgrey;
}

div.schDetailCell:hover {
    box-shadow: 0 0 10px gray;
}


/* 行程細節中每個景點的第一張圖片 */
div.attrPic {}

/* 行程細節排序(依照行程細節起始時間) */
div.schDetailOrder {
    /* border: 1px solid red; */
    width: 8.5%;
    height: 35%;
    border-radius: 5px;
    background-color: rgb(25, 135, 84);
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    padding: 2px;
}

/* 行程細節排序數字 */
span#schDetailOrder {
    vertical-align: middle;
    color: white;
    font-weight: bold;
}

/* 一個行程細節的內容 */
div.schDetailsCardBody {
    /* border: 1px solid red; */
    position: absolute;
    padding: 5px 10px;
    width: 66.6%;
    height: 100%;
    font-weight: bold;
    overflow: hidden;
}

/* 行程時間相關(停留時間 | 起始時間、結束時間) */
p.schTimes {
    margin-bottom: 8px;
    color: rgb(25, 135, 84);
}

/* 行程細節內的景點名稱 */
h5.attrName>div {
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: bold;
}

/* 景點地址 */
p.attrAddr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

/* =========== 行程細節 cell 結束 =========== */

/* =========== 景點搜尋/收藏 cell =========== */

/* 單一個景點搜尋/收藏框 */
div.attrCell {
    max-width: 420px;
    box-shadow: 0 0 10px lightgrey;
}

/* 滑過景點box時加深陰影 */
div.attrCell:hover {
    box-shadow: 0 0 10px gray;
}

/* 景點內容(景點名稱) */
div.attrCardBody {
    /* border: 1px solid red; */
    position: absolute;
    padding: 5px 10px;
    width: 66.6%;
    height: 100%;
    font-weight: bold;
    overflow: hidden;
}

/* 景點名稱位置調整 */
#attrName{
    /* border: 1px solid red; */
    width: 90%;
    position: absolute;
    top: 35%;
}

/* =========== 景點搜尋/收藏 cell 結束 =========== */

/* =========== 查看景點詳情 =========== */

/* 詳細景點內容上方Bar */
div.attrDetailsBar{
    /* border: 1px solid red; */
    width: 100%;
    height: 48px;
    /* box-shadow: 0px 2px 5px lightgray; */
    z-index: 1;
    position: sticky;
}
/* 關閉查看詳情按鈕 */
button.btn-close{
    /* border: 1px solid green; */
    color: rgb(25, 135, 84);
    width: 40px;
    height: 80%;
    position: absolute;
    right: 0;
}

/* 景點主要圖片 */
div.attrCardMainImg>img{
    border: 1px solid blue;
    border-radius: 0;
}

/* 多張景點的圖片輪播 */
/* TODO.... */



/* 景點名稱作為景點詳情標題 */
h5#attrNameTitle{
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    font-weight: bold;
}

/* 景點詳情內容(景點評分及評價、營業時間、景點類型、) */
div.attrDetails>ul{
    border: 1px solid blue;
}
/* 單一個詳情內容 */
div.attrDetails>ul>li{
    border: 1px solid green;
    text-align: left;
    padding: 5px 0px;
    font-size: 0.8rem;
    /* color: black */
}


/* 景點概略描述 */
p#attrIlla{
    border: 1px solid red;
    font-size: 0.9rem;
}
