<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Example</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Welcome to Spring Boot</h1>


<div>
    <label for="attractionId">Enter Attraction ID: </label>
    <input type="text" id="attractionId" th:value="${attractionID}">
    <button id="loadAttraction">Load Attraction</button>
</div>

<form action="getAttraction" method="get">
    <a href="">go to jsp/getOneAttr.jsp</a>
    <input type="text" name="id">ㄒ
    <input type="submit">
</form>

<form action="getAllAttr">
    <a href="">go to getAllAttr</a>
    <input type="submit" >
</form>

<form action="yt">
    <a href="">go to yt_layout</a>
    <input type="submit">
</form>

<form action="bootstrap12">
    <a href="">go to jsp/bootstrap12.jsp</a>
    <input type="submit">
</form>

<form action="register">
    <a href="">go to register</a>
    <input type="submit">
</form>

<p th:text="${message}"></p>
<!--<script th:src="@{/js/scripts.js}"></script>-->
<script src="./js/jquery-3.7.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#loadAttraction").click(function () {
            var id = $("#attractionId").val();
            $.ajax({
                url: "http://localhost:8081/u-and-me/getAttraction/" + id,
                method: "GET",
                success: function (data) {
                console.log(data);
                    $("#attrName").text("Name: " + data.id);
                    $("#attrDescription").text("Description: " + data.name);
                    // You can continue to populate other attributes here
                },
                error: function () {
                    alert("Attraction not found");
                }
            });
        });
    });

<!--    $(document).ready(function () {-->
<!--        $("#loadAttraction").click(function () {-->
<!--            var id = $("#attractionId").val();-->
<!--            $.ajax({-->
<!--                url: "/getAttraction/" + id,-->
<!--                method: "GET",-->
<!--                success: function (data) {-->
<!--                    $("#attrName").text("Name: " + data.id);-->
<!--                    $("#attrDescription").text("Description: " + data.name);-->
<!--                    // You can continue to populate other attributes here-->
<!--                },-->
<!--                error: function () {-->
<!--                    alert("Attraction not found");-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->

</script>
</body>
</html>

