<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/test.css">
    <!-- 外部嵌入css成功 -->
</head>

<body>
<header class="header">
    這是HEADER
    <button type="button" id="new_btn">新的按鈕</button>
    <button type="button" class="btn_hamburger">按鈕</button>
    <input type="text" name="" id="input_text">
</header>
<aside class="aside">
    <button type="button" class="btn_hamburger">按鈕</button>
    <nav class="nav">
        <ul class="nav_list">
            <li><a href="#">連結一</a></li>
            <li><a href="#">連結二</a></li>
            <li><a href="#">連結三</a></li>
            <li><a href="#">連結四</a></li>
            <li><a href="#">連結五</a></li>
            <li><a href="#">連結一</a></li>
            <li><a href="#">連結二</a></li>
            <li><a href="#">連結三</a></li>
            <li><a href="#">連結四</a></li>
            <li><a href="#">連結五</a></li>
            <li><a href="#">連結一</a></li>
            <li><a href="#">連結二</a></li>
            <li><a href="#">連結三</a></li>
            <li><a href="#">連結四</a></li>
            <li><a href="#">連結五</a></li>
            <li><a href="#">連結一</a></li>
            <li><a href="#">連結二</a></li>
            <li><a href="#">連結三</a></li>
            <li><a href="#">連結四</a></li>
            <li><a href="#">連結五</a></li>
            <li><a href="#">連結一</a></li>
            <li><a href="#">連結二</a></li>
            <li><a href="#">連結三</a></li>
            <li><a href="#">連結四</a></li>
            <li><a href="#">連結五</a></li>
            <li><a href="#">連結一</a></li>
            <li><a href="#">連結二</a></li>
            <li><a href="#">連結三</a></li>
            <li><a href="#">連結四</a></li>
            <li><a href="#">連結五</a></li>
            <li><a href="#">最後一個連結</a></li>

        </ul>
    </nav>
</aside>
<main class="main">
    <ul class="item_list">
        <li>
            <a href="#">
                <div class="img_block">
                    <img src="https://via.placeholder.com/400x300" alt="">
                </div>
                <span class="item_text">1這是影片標題這是影片標題這是影片標題</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img_block">
                    <img src="https://via.placeholder.com/400x300" alt="">
                </div>
                <span class="item_text">2這是影片標題這是影片標題這是影片標題</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img_block">
                    <img src="https://via.placeholder.com/400x300" alt="">
                </div>
                <span class="item_text">3這是影片標題這是影片標題這是影片標題</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img_block">
                    <img src="https://via.placeholder.com/400x300" alt="">
                </div>
                <span class="item_text">4這是影片標題這是影片標題這是影片標題</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img_block">
                    <img src="https://via.placeholder.com/400x300" alt="">
                </div>
                <span class="item_text">5這是影片標題這是影片標題這是影片標題</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img_block">
                    <img src="https://via.placeholder.com/400x300" alt="">
                </div>
                <span class="item_text">6這是影片標題這是影片標題這是影片標題</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img_block">
                    <img src="https://via.placeholder.com/400x300" alt="">
                </div>
                <span class="item_text">7這是影片標題這是影片標題這是影片標題</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img_block">
                    <img src="https://via.placeholder.com/400x300" alt="">
                </div>
                <span class="item_text">8這是影片標題這是影片標題這是影片標題</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img_block">
                    <img src="https://via.placeholder.com/400x300" alt="">
                </div>
                <span class="item_text">9這是影片標題這是影片標題這是影片標題</span>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="img_block">
                    <img src="https://via.placeholder.com/400x300" alt="">
                </div>
                <span class="item_text">10這是影片標題這是影片標題這是影片標題</span>
            </a>
        </li>
    </ul>
</main>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>-->
<script src="js/jquery-3.7.0.min.js"></script>
<script src="js/test.js">
    //js/jQ外部嵌入成功

</script>
</body>

</html>